/* src/App.css */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  scroll-behavior: smooth;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
}
